html,  
*{
    margin:0; 
    padding:0;
    /*background-color: black;*/}

.checkerboard {
    width: 640px;
    height: 640px;
    margin: 20px;
    border: 15px solid black;
    
}

.black{
    width: 80px;
    height: 80px;
    float: left;
    background-color: black;
}

.white{
    width: 80px;
    height: 80px;
    float: left;
    background-color: white;

}